{% load i18n static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'account/cadastro.css' %}">
{% endblock extra_head %}

    
    <meta charset="UTF-8">
    <title>Cadastrar-se</title>
    
</head>
<body>

<div class="container">
    <h2>Cadastrar-se</h2>
    <p class="subtitle">Crie sua conta</p>

    <form method="post">
        {% csrf_token %}

        <label>Email</label>
        {{ form.email }}

        <label>Nome de usuário</label>
        {{ form.username }}

        <label>Senha</label>
        {{ form.password1 }}

        <label>Senha (novamente)</label>
        {{ form.password2 }}

        {% block content %}
        {% if SOCIALACCOUNT_ENABLED %}
        {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
        {% endif %}
        {% endblock content %}
        <button type="submit">Cadastrar-se</button>
    </form>
    <h3>Já tem uma conta? <a href="{% url 'account_login' %}">Entrar</a></h3>

</div>

</body>
</html>